@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

/* Top bar animation */
.topBar__header
{
    position:absolute;
    -webkit-animation:linear infinite running;
    -webkit-animation-name: run;
    -webkit-animation-duration: 25s;
}

@-webkit-keyframes run {
    0% { left: 0; transform: translateX(-100%); }
    100%{ left : 100%; transform: translateX(0); }
}

.topBar .topBar__header {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.topBar__header__h {
    white-space: nowrap;
    margin: 0 10px;
    font-size: 14px;
    position: relative;
}

.topBar__header__h__link {
    color: #fff !important;
}

.topBar__header__h::after {
    content: "\2022";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 15px;
}

@media(min-width: 768px) {
    .storefront-full-width-content.single-product div.product .summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .single-product div.product form.cart {
        order: 4;
    }

    .single-product .woocommerce-product-details__short-description {
        order: 2;
    }

    .single-product div.product p.price {
        order: 3;
    }

    .single-product .product_title {
        order: 1;
        margin-bottom: 20px;
    }

    .secondary-navigation {
        display: block;
    }

    .topBar {
        height: 40px;
        justify-content: flex-start;
    }

    .site-header {
        background: #f4f1ef !important;
    }

    .desktopHeader {
        width: 90%;
        margin: 40px auto 15px;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-bottom: 3px solid #b8b7b7;
    }

    .desktopHeader__logo {
        width: 200px;
        height: auto;
    }

    .desktopHeader__logo__img {
        width: 100%;
        height: auto;
    }

    .mobileHeader__cartCount:not(.mobileHeader__cartCount--checkout) {
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
    }

    .desktopMenu {
        margin-bottom: 0 !important;
        padding-bottom: 20px;
    }

    .desktopMenu__menu {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }

    .desktopMenu__item {
        margin: 0 15px;
    }

    .desktopLanding {
        width: 100%;
        height: calc(100vh - 200px);
        position: relative;
        overflow: hidden;
    }

    .desktopLanding__img {
        width: 100%;
        height: auto;
        filter: brightness(.5);
    }

    .desktopLanding__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desktopLanding__header {
        font-weight: 700;
        color: #fff;
        text-align: center;
        font-size: 36px;
    }

    .desktopLanding__subheader {
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #fff;
    }

    .desktopLanding__btn {
        margin: 25px auto;
        width: 300px;
        height: 70px;
    }

    /* Slogan */
    .desktopSlogan {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: -50px auto 0 auto;
    }

    .desktopSlogan__header {
        position: relative;
        font-size: 24px;
    }

    .desktopSlogan__border {
        padding-bottom: 5px;
        border-bottom: 2px solid #d94926;
    }

    .desktopSlogan__box {
        margin-left: 30px;
        width: 70px;
        height: auto;
    }

    .site-main {
        background: #f5f4f3;
    }

    /* Frontpage basic collection */
    .frontpageBasicCollectionDesktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0 40px;
    }

    .basic__h2, .basic__h3, .basic__h4 {
        text-align: center;
    }

    .basic__h2, .basic__h4 {
        text-transform: uppercase;
        font-weight: 400;
    }

    .basic__h2 {
        font-size: 18px;
    }

    .basic__h3 {
        font-size: 32px;
    }

    .basic__h4 {
        font-size: 24px;
    }

    .basicCollection__desktopBtn {
        margin-top: 40px;
        display: flex;
        text-decoration: underline;
        justify-content: center;
        align-items: center;
        background: transparent;
        font-size: 20px;
        color: inherit !important;
    }

    .basicCollection__desktopBtn__img {
        width: 20px;
        height: auto;
        margin-left: 20px;
        transform: rotate(180deg);
    }


    /* Collection */
    .collectionItems__filters__section {
        margin-bottom: 60px;
    }

    .collectionItems {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 100px clamp(5vw, 400px, 15vw) 50px;
        align-items: flex-start;
    }

    .collectionItems__filters {
        grid-column: 1;
        grid-row: 1;
        margin-right: 100px;
    }

    .collectionItems > .woocommerce {
        grid-column: 2;
        grid-row: 1;
    }

    .collection__alcantaLogo {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .mobileLanding--collection {
        margin-top: 30px;
    }

    .mobileLanding--collection {
        height: 250px;
        overflow: hidden;
    }

    .colectionItems__categoryList {
        display: block !important;
    }

    .colectionItems__categoryList li a {
        color: #2e2b28;
    }

    .collectionItems .product {
        width: 45% !important;
    }

    .collectionItems__sizes {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .collectionItems__circle {
        width: 40px;
        height: 40px;
        font-size: 14px;
        border-radius: 50%;
        border: 1px solid #a3a3a3;
        background: transparent;
    }

    .collectionItems .woocommerce-loop-product__title, .collectionItems .price {
        padding-left: 0 !important;
    }

    .collectionItems__categoryList__li {
        color: grey;
    }

    .collectionItems__categoryList__li a {
        color: #000;
    }

    .collectionItems__circle {
        transition: .3s all ease-in-out;
    }

    /*.collectionItems__circle:hover {*/
    /*    border: 2px solid rgb(217,73,38);*/
    /*}*/

    /* Newsletter page */
    .thankYou__carousel {
        width: 600px;
        margin: 80px auto 0;
    }

    .thankYou__carousel .carousel__progressBarContainer {
        width: 600px;
        margin: 20px auto 50px;
    }

    /* Cart */
    .woocommerce-cart #content, .shop_table *, .woocommerce-cart #page {
        background: #fff !important;
    }

    .woocommerce-cart .checkout-button:hover::after {
        transform: translateX(12px);
    }

    .woocommerce-cart .checkout-button::after {
        transition: .4s all ease-in-out;
    }

    .woocommerce-cart #content, .woocommerce-cart #page {
        margin-top: 40px;
    }

    .woocommerce-cart .site-main,
    .woocommerce-checkout .site-main
    {
        background: #fff;
        min-height: 80vh;
    }

    .entry-header {
        padding-bottom: 0 !important;
    }

    .woocommerce-cart .entry-header .entry-title {
        text-align: left !important;
    }

    .woocommerce-cart .entry-content {
        width: 100% !important;
        max-width: none !important;
    }

    .woocommerce-cart .return-to-shop {
        margin: 20px 0 110px;
        max-width: 400px;
    }

    .woocommerce-cart .entry-content .woocommerce {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .woocommerce-cart .shop_table thead,
    .woocommerce-cart .woocommerce-notices-wrapper,
    .coupon--mobile
    {
        display: none !important;
    }

    .woocommerce-cart .woocommerce-cart-form {
        width: 55% !important;
    }

    .woocommerce-cart .cart-collaterals {
        width: 35% !important;
        padding: 20px !important;
    }

    .woocommerce-cart .cart-collaterals .cart_totals {
        background: #f5f4f3 !important;
        margin-bottom: 30px !important;
        padding: 20px;
    }

    .woocommerce-cart .cart-collaterals * {
        background: #f5f4f3 !important;
    }

    .woocommerce-cart .cart-collaterals .guaranteeImg {
        background: #fff !important;
        margin-top: 40px;
    }

    table.cart td.product-remove
    {
        border-top: none !important;
    }

    .cart_totals {
        width: 100% !important;
    }

    .d-mobile {
        display: none !important;
    }

    .product-remove {
        top: 0;
        right: 0;
        bottom: 0;
        transform: none !important;
    }

    .woocommerce-cart .quantity select {
        padding: 5px 0 5px 5px !important;
    }

    .woocommerce-cart-form__cart-item {
        grid-template-columns: clamp(200px, 45%, 250px) 55%;
        grid-template-rows: repeat(3, 50px);
    }

    .woocommerce-cart .product-thumbnail {
        padding-left: 0;
    }

    .coupon--desktop {
        display: block !important;
        padding-bottom: 30px !important;
        padding: 20px;
    }

    .woocommerce-cart #content {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .woocommerce-cart .wc-proceed-to-checkout * {
        background: #000 !important;
    }

    .woocommerce-cart .wc-proceed-to-checkout {
        background: #000 !important;
        margin: 50px auto !important;
        position: relative;
        width: clamp(100px, 250px, 90%);
        height: 60px;
    }

    .couponInner--desktop {
        margin-bottom: 20px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .couponInner--desktop input {
        margin-left: 20px !important;
    }

    .couponInner--desktop .button {
        margin-top: 20px;
        min-width: 150px;
    }

    label[for=coupon_code] {
        margin-bottom: 0;
    }

    .order-total--borderTop {
        border-top: none;
    }

    .order-total--borderTop tbody {
        display: flex;
        flex-direction: column;
    }

    .order-total--borderTop tbody .order-total,
    .cart-discount
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    td[data-title=Suma] {
        display: block;
    }

    .d-desktop {
        display: block !important;
    }

    .woocommerce-cart-form {
        align-items: flex-start;
    }

    .cart__afterCoupon {
        max-width: 400px;
    }

    .guaranteeText {
        font-weight: 400;
        font-size: 14px;
    }

    .afterCart {
        width: 100%;
        margin-top: 100px;
    }

    .afterCart__header {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
    }

    .thankYou__carousel--afterCart {
        margin-top: 0;
    }

    .thankYou__carousel--afterCart .carousel__embla,
    .thankYou__carousel--afterCart .carousel__embla a,
    .thankYou__carousel--afterCart a img {
        height: 300px;
    }

    .thankYou__carousel--afterCart,
    .woocommerce-cart .carousel__progressBarContainer {
        width: clamp(400px, 90%, 800px);
    }

    .single-product .button-variable-item:first-of-type {
        margin-left: 0 !important;
    }

    .productImageWrapper {
        position: relative;
        display: grid;
        overflow: hidden;
        max-height: 600px;
    }

    .productImage-1, .productImage-2 {
        width: 100%;
        height: auto;
        transition: .8s all ease-in-out;
        grid-row: 1;
        grid-column: 1;
    }

    .productImage-1 {
        opacity: 1;
    }

    .productImage-2 {
        opacity: 0;
    }

    .productImageWrapper:hover .productImage-1 {
        opacity: 0;
    }

    .productImageWrapper:hover .productImage-2 {
        opacity: 1;
        transform: scale(1.2);
    }

    /* Checkout */
    .woocommerce-billing-fields,
    .checkoutCarousel,
    .woocommerce-checkout .col-1,
    .checkoutHeader--payment::before
    {
        background: #fff !important;
    }

    .woocommerce-checkout .entry-content {
        margin-left: auto;
        margin-right: auto;
        width: clamp(500px, 90%, 1200px);
    }

    .woocommerce-checkout .col2-set {
        width: 100%;
    }

    .woocommerce-checkout .col-1 {
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: 45% 35%;
    }

    .woocommerce-checkout .col-1 > * {
        grid-column: 1;
    }

    .col-1 .place-order {
        grid-column: 2;
        grid-row: 1 / span 3;
        background: #f5f4f3 !important;
        margin-top: 80px;
        padding: 30px !important;
    }

    .col-1 .place-order th,
    .woocommerce-checkout-review-order-table tfoot tr td,
    .woocommerce-checkout-review-order-table tfoot tr td bdi,
    .woocommerce-checkout-review-order-table tfoot tr td span
    {
        background: #f5f4f3 !important;
    }

    .col-1 .checkoutCart {
        grid-column: 2;
        grid-row: 4;
        margin-top: -160px;
    }

    .col-1 .checkoutHeader {
        grid-row: 1;
        padding-top: 40px;
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 40px;
    }

    .col-1 .woocommerce-shipping-methods {
        grid-row: 2;
    }

    .col-1 .woocommerce-shipping-methods li {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .col-1 .checkoutCarousel {
        grid-column: 2;
        grid-row: 5 / span 3;
        margin-top: -40px;
    }

    .woocommerce-checkout .carousel__progressBarContainer {
        width: 100% !important;
    }

    .woocommerce-shipping-destination,
    .woocommerce-billing-fields
    {
        padding-left: 0 !important;
    }

    .woocommerce-checkout .wc_payment_methods {
        align-items: flex-start;
    }

    #payment .payment_methods li img {
        left: 0;
    }

    .wc_payment_method label::before {
        right: 0;
    }

    .woocommerce-checkout .woocommerce-error {
        margin-top: 50px;
    }

    .woocommerce-checkout .form-row {
        margin-left: 0;
        margin-right: 0;
    }

    .woocommerce-billing-fields,
    .woocommerce-shipping-destination
    {
        padding-right: 0 !important;
    }

    .woocommerce-checkout .wc_payment_method {
        width: 100%;
    }

    /* Single product */
    .single-product .product {
        margin: auto;
        display: grid;
        grid-template-columns: 40% 55%;
        width: clamp(400px, 90%, 1300px);
        justify-content: space-between;
        justify-items: end;
        padding-top: 50px;
    }

    .woocommerce-product-gallery {
        grid-column: 1;
        grid-row: 1 / span 4;
    }

    .storefront-full-width-content.single-product div.product .summary {
        margin-bottom: 0 !important;
    }

    .single-product div.product form.cart {
        margin-bottom: 0 !important;
    }

    .storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
        width: 100% !important;
    }

    .single-product .woocommerce-product-gallery__wrapper > .woocommerce-product-gallery__image {
        display: block !important;
        margin-top: 0 !important;
    }

    .single-product .entry-summary {
        width: 100% !important;
        grid-row: 1;
    }

    .collectionLocked__faq {
        grid-column: 2;
        grid-row: 2;
        width: 100% !important;
    }

    .single-product .up-sells {
        grid-column: 1 / span 2;
        margin: 100px auto 20px;
        text-align: center;
    }

    .site-main, .collectionLocked__faq,
    .carousel--single, .carousel
    {
        background: #fff !important;
    }

    .collectionLocked__faq {
        padding: 0;
    }

    .woocommerce-product-details__short-description p {
        font-size: 14px;
    }

    .storefront-full-width-content.single-product div.product .summary {
        padding: 0 !important;
    }

    .single_add_to_cart_button {
        max-width: 400px;
        position: relative;
        z-index: 10;
        margin-left: 0 !important;
        width: clamp(300px, 90%, 500px);
    }

    .single-product .variable-items-wrapper {
        justify-content: flex-start;
    }

    .single-product .variations::before {
        text-align: left;
    }

    #product-527 > div.summary.entry-summary > form > table > tbody > tr > td.value.woo-variation-items-wrapper > ul > li.variable-item.button-variable-item.button-variable-item-M {
        margin-left: 0 !important;
    }

    .addedToCartPopup {
        width: clamp(400px, 80%, 700px);
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        display: grid;
        grid-template-columns: 40% 55%;
        grid-column-gap: 5%;
        padding: 50px;
    }

    .button--popup {
        width: 100%;
        margin-top: 25px;
    }

    .addedToCartPopup__productImg {
        grid-column: 1;
        grid-row: 1 / span 7;
        width: 100%;
    }

    .checkedImg {
        grid-column: 2;
        grid-row: 1;
        margin: 5px auto 20px;
    }

    .addedToCartPopup__flex {
        padding: 0;
    }

    .addedToCartPopup__closeBtn {
        top: 0;
        right: 10px;
    }

    .addedToCartPopup__header {
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 25px;
        font-size: 14px;
    }

    .addedToCartPopup__meta {
        margin-top: 0;
    }

    .addedToCartPopupWrapper {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .75);
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
    }

    .addedToCartPopup__meta {
        width: 100% !important;
    }

    .addedToCartPopup__flex:first-of-type .addedToCartPopup__meta:last-of-type {
        text-align: right;
    }

    .addedToCartPopup__meta--size span {
        position: absolute;
        right: 0;
    }

    .mobileLanding--collection {
        margin-top: 0 !important;
    }

    .desktopGallery > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .desktopGallery > div > div {
        flex-basis: 30%;
        width: 30%;
        margin-right: 3%;
    }

    .desktopGallery > div > div img {
        width: 100%;
        height: auto;
    }

    .woocommerce-product-gallery__image a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .single-product .woocommerce-product-gallery__wrapper > .desktopGallery {
        margin-top: 30px !important;
    }

    /* Test */
    img[role=presentation] {
        display: none !important;
    }

    /* Header */
    #menu-menu-desktop {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    #menu-menu-desktop .menu-item {
        padding: 0 20px;
    }

    .sub-menu {
        position: absolute;
        opacity: 0;
        height: 0;
        padding-left: 0;
        background: #f4f1ef !important;
        padding-top: 15px;
        transition: .4s all ease-in-out;
    }

    .menu-item:hover .sub-menu,
    .sub-menu:hover
    {
        z-index: 100;
        opacity: 1;
        height: auto;
    }

    .sub-menu .menu-item {
        padding: 10px 20px !important;
        min-width: 200px;
    }

    .sub-menu .menu-item a {
        min-width: 200px;
        display: block;
    }

    .sub-menu .current-menu-item a {
        color: #fff !important;
    }

    .menu-item * {
        text-transform: uppercase !important;
    }

    .dropdownItem {
        position: relative;
        background: transparent !important;
        margin-right: 20px;
    }

    .menu-menu-desktop-container .dropdownItem * {
        color: #000 !important;
    }

    .dropdownItem::after {
        content: url("./assets/images/alcanta/arrow.svg");
        transform: translateY(-50%) rotate(270deg);
        position: absolute;
        right: -10px;
        top: 50%;
        width: 15px;
        height: auto;
    }

    .current-menu-item {
        background: #d94926;
        border-radius: 3px;
    }

    .current-menu-item * {
        color: #fff !important;
    }

    /* Footer */
    .footerDesktop__menu {
        margin: auto;
    }

    .footerDesktop__menu > div {
        width: 100%;
    }

    .footerDesktop .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
    }

    .footerDesktop .menu li {
        margin: 0 20px;
    }

    .footerDesktop .menu a {
        color: #fff !important;
    }

    .footerDesktop .menu .current-menu-item {
        background: transparent !important;
        text-decoration: underline;
    }

    /* Page */
    .alcantaPage {
        padding: 50px 0;
        margin: auto;
        width: clamp(400px, 90%, 1400px);
    }

    .alcantaPage__title {
        text-align: center;
        margin-bottom: 40px;
    }

    .page .entry-header .entry-title {
        text-align: center;
        margin: 40px 0;
    }

    .entry-content {
        max-width: clamp(400px, 90%, 1400px);
        margin: auto;
        margin-bottom: 50px;
    }

    /* Thank you page */
    .thankYou__main--desktop {
        margin: 40px auto;
        width: clamp(400px, 90%, 1200px);
        display: flex !important;
    }

    .thankYou__carouselHeader {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .thankYou__header {
        margin-top: 50px;
    }

    .thankYou__carousel,
    .thankYou__carousel .carousel__progressBarContainer
    {
        width: clamp(400px, 90%, 800px);
    }

    .thankYou__carousel .carousel__embla,
    .thankYou__carousel .carousel__embla a,
    .thankYou__carousel a img {
        height: 300px;
    }

    /* Cart empty */
    .cart-empty {
        width: 100%;
    }

    .return-to-shop {
        padding: 0 !important;
        width: 300px !important;
        height: 50px !important;
    }

    .return-to-shop a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;
    }

    /* Products page */
    .products .product {
        transition: .4s all ease-in-out;
    }

    .single-product .product_title {
        font-size: 30px;
    }

    .single-product div.product p.price {
        font-size: 22px !important;
        margin-bottom: 20px !important;
        color: #171a1d !important;
    }

    .single-product .collectionLocked__faq__answer,
    .single-product .collectionLocked__faq__answer * {
        font-size: 17px !important;
    }

    .single-product .collectionLocked__faq__question {
        font-size: 18px;
        font-weight: 500;
    }
}

@media(min-width: 992px) {
    /* Slogan */
    .desktopSlogan {
        margin-top: 0;
    }

    /* Carousel */
    .carousel__progressBarContainer,
    .carousel {
        width: clamp(300px, 60vw, 900px);
        margin: auto;
    }

    .carousel {
        background: #f5f4f3;
    }

    .carousel__progressBarContainer {
        margin-top: 30px;
    }

    /* Footer */
    .footerDesktop {
        background: #504c4b;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerDesktop__logo {
        width: 150px;
        height: auto;
        padding: 30px 0;
        filter: brightness(0) invert(1);
    }

    .footerDesktop__menu {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .footerDesktop__menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footerDesktop__menu__item {
        padding: 0 20px;
    }

    .footerDesktop__menu__item:not(:last-child) {
        border-right: 1px solid #fff;
    }

    .footerDesktop__menu__item a {
        text-transform: uppercase;
        color: #fff !important;
    }

    /* Newsletter */
    .newsletterDesktop {
        padding: 50px 0;
        margin: 50px 0;
        background: #f4f1ef;
        -webkit-box-shadow: 0px 5px 35px 3px rgba(0,0,0,0.4);
        box-shadow: 0px 5px 35px 3px rgba(0,0,0,0.4);
    }

    .newsletterDesktop__header {
        text-align: center;
        font-weight: 900;
        font-size: 44px;
        margin-bottom: 50px;
    }

    .newsletterDesktop h3, .newsletterDesktop h4 {
        font-weight: 400;
        text-align: center;
    }

    .newsletterDesktop__h3 {
        font-size: 22px;
    }

    .newsletterDesktop__h4 {
        font-size: 17px;
    }

    .newsletterDesktop__form {
        padding: 40px 0 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .newsletterDesktop__form form {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .newsletterDesktop__form .tnp-email {
        width: 100% !important;
        height: 60px !important;
        padding: 5px 15px !important;
        margin-right: 20px !important;
        border: none !important;
        background: #fff !important;
        outline: none !important;
        margin-top: 10px !important;
    }

    .newsletterDesktop__form .tnp-field {
        flex-basis: 80%;
    }

    .newsletterDesktop__form .tnp-field-button {
        flex-basis: 15%;
        margin-left: 20px !important;
        padding: 0 15px !important;
    }

    .arrowWhite {
        filter: brightness(0) invert(1);
    }

    .newsletterDesktop__form .tnp-field label {
        margin-bottom: 0 !important;
    }

    .newsletterDesktop__label span {
        font-weight: 700;
        padding-bottom: 10px;
    }

    .newsletterDesktop__form .tnp-subscription {
        max-width: 800px !important;
    }

    .newsletterDesktop__form .tnp-submit {
        height: 100% !important;
        background: transparent !important;
        transition: .4s all ease-in-out;
        text-transform: uppercase !important;
        padding: 0 20px !important;
    }

    .newsletterDesktop>.newsletterDesktop__form>.tnp-subscription>form>.tnp-field-button {
        height: 60px;
        position: relative;
    }

    .tnp-submit:hover,
    .tnp-submit:active,
    .tnp-submit:focus
    {
        color: #fff !important;
    }

    /* About brand */
    .aboutDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 0;
        padding-bottom: 40px;
        max-width: 1200px;
    }

    .aboutDesktop__img {
        width: 600px;
        height: auto;
    }

    .aboutDesktop__p {
        margin-bottom: 20px;
    }
}

@media(min-width: 1200px) {
    /* Slogan */
    .desktopSlogan {
        margin-top: 30px;
    }

    .desktopSlogan__header {
        font-size: 36px;
    }

    /* Collection */
    .collectionName {
        font-size: 64px;
    }

    .collection, .collectionSubtitle {
        font-size: 17px;
    }

    /* Page about us */
    .pageAboutUs p {
        font-size: 16px;
    }

    /* Product page */
    .wvs-has-image-tooltip:hover:after, .wvs-has-image-tooltip:hover:before, [data-wvstooltip]:hover:after, [data-wvstooltip]:hover:before {
        display: inline !important;
    }
}

@media(min-width: 1400px) {

}